/*
 * Responsive Styles
 */

@media screen and (max-width: 700px) {
  .deck {
    width: 90%;
    min-height: 700px;
  }
  .deck .card {
    width: 22%;
    height: 125px;
  }
}


@media screen and (max-width: 500px) {
  .deck {
    width: 97%;
    min-height: 600px;
  }
  .deck .card {
    width: 22%;
    height: 100px;
  }
  score-panel {
    width: 97%;
  }
}
